@import "tailwindcss";

/* * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} */

body {
    background-color: #ffff;
}

/* Remove number input arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


@theme {

    /* Colors */
    --color-primary-text: #000000;
    --color-secondary-text: #ffffff;
    --color-primary-bg: #f2f2f2;
    --color-secondary-bg: #1e1e1e;
    --color-red-bg: #f81a1d;

    /* Fonts */
    --font-orbitron: "Orbitron", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-main: "Roboto", sans-serif;

    --shadow-3xl: 0px 0px 10px 1px gray;
}